* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #333; 
}

header {
    background-color: #6b10a8;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: rgba(0, 0, 0, 0.763);
    transition: all .3s ease-in-out;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #1f1f1f;
}

.hero {
    text-align: center;
}

.hero h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
    color: #7b7979;
}

.hero p {
    margin-bottom: 20px;
    font-size: 1.2em;
    color: #ffffff;
}

.hero-image {
    margin-bottom: 20px;
    max-width: 100%;
    max-height: 400%;
    height: 390px;
    width: 300px;
    border-radius: 100%;
    overflow: hidden; /* Memastikan foto profil tidak keluar dari batas lingkaran */
    border: 2px solid #ccc; /* Memberi sedikit border pada lingkaran */
}

.cta-button {
    padding: 10px 20px;
    background-color: #3e3b3b;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #6b10a8;
    color: white;
    text-align: center;
    padding: 10px 0;
}
.code-box, .output-box {
    background-color: #2d2d2d;
    color: #f8f8f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    text-align: left; /* Align text to the left */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animated-text {
    animation: fadeIn 2s ease-in-out;
}

.animated-image {
    animation: fadeIn 2s ease-in-out;
}